# Scale factor for AUTO (Kron) photometry
auto-kron-factor=2.5

# Minimum radius for AUTO (Kron) photometry
auto-kron-min-radius=3.5

# Background mesh cell size to determine a value.
background-cell-size=1024

# Background median filter size
smoothing-box-size=3

# Path to save the model fitting check image
#check-image-model-fitting=sser_model_4.fits

# Path to save the model fitting residual check image
check-image-residual=sser_resid_4.fits

# Path to save the background check image
#check-image-background=bck.fits

# Path to save the variance check image
#check-image-variance=

# Path to save the segmentation check image
#check-image-segmentation=

# Path to save the partition check image
#check-image-partition=part_vis_dsersic_cut2.fits

# Path to save the grouping check image
#check-image-grouping=group.fits

# Path to save the filtered check image
#check-image-filtered=

# Path to save the thresholded check image
#check-image-thresholded=

# Path to save the SNR check image
#check-image-snr=

# Path to save the auto aperture check image
#check-image-auto-aperture=

# Path to save the aperture check image
#check-image-aperture=

# Path to save the moffat check image
#check-image-moffat=moffat_dsersic_cut2.fits

# Path to save the PSF check image
#check-image-psf=psf.fits

# Enables the cleaning of sources (removes false detections near bright objects)
#use-cleaning=0

# min. # of pixels above threshold
cleaning-minimum-area=10

# The core threshold level
core-threshold-value=1.158

# The minimum pixel area for partitioning
core-minimum-area=10

# Activate core threshold partitioning
partition-corethreshold=1

# Background value to be subtracted from the detection image.
background-value=0.0

# Detection threshold above the background.
detection-threshold=0.818
# Segmentation algorithm to be used. Currently LUTZ is the only choice
segmentation-algorithm=LUTZ

# Disables filtering
segmentation-disable-filtering=0

# Loads a filter
segmentation-filter=../gauss2.4.fits

# Lutz sliding window size (0=disable)
segmentation-lutz-window-size=500

# Path to a fits format image to be used as detection image.
detection-image=../../FIELD4/Single_Sersic/ssersic_4_vis.fits

# Detection image gain in e-/ADU (0 = infinite gain)
#detection-image-gain=

# Detection image flux scale
#detection-image-flux-scale=

# Detection image saturation level (0 = no saturation)
#detection-image-saturation=

# Interpolate bad pixels in detection image
detection-image-interpolation=0

# Maximum number if pixels to interpolate over
detection-image-interpolation-gap=5

# The FITS file containing the external flag
#flag-image-*=

# The combination type of the external flag (OR, AND, MIN, MAX, MOST)
#flag-type-*=

# min. # of pixels above threshold
detection-minimum-area=10

# Enables the use of attractors for partitioning
use-attractors-partition=0

# Grouping algorithm to be used [none|overlap|split|moffat].
grouping-algorithm=none

# Threshold used for Moffat grouping.
grouping-moffat-threshold=0.8

# Maximum distance (in pixels) to be considered for grouping
grouping-moffat-max-distance=200

# Magnitude zero point calibration
magnitude-zero-point=23.9

# Measurements python configuration file
python-config-file=ssersic_4.py

# Parameters to pass to Python via sys.argv
#python-arg=

# Maximum memory used for image tiles cache in megabytes
tile-memory-limit=80000

# Image tiles size in pixels
tile-size=5000

# Maximum number of iterations allowed for model fitting
model-fitting-iterations=20

# Least squares engine
model-fitting-engine=levmar

# Number of worker threads (-1=automatic, 0=disable all multithreading)
thread-count=56

# activates multithreshold partitioning
partition-multithreshold=1

# # of thresholds
partition-threshold-count=32

# min area in pixels to consider partitioning
partition-minimum-area=10

# min contrast of for partitioning
partition-minimum-contrast=0.005

# The file to store the output catalog
output-catalog-filename=ssersic_cat_4.fits

# The format of the output catalog, one of ASCII or FITS (default: FITS)
output-catalog-format=FITS

#
output-properties=PixelCentroid,WorldCentroid,SourceIDs,GroupInfo,SourceFlags,FlexibleModelFitting
#
#output-properties=PixelCentroid,WorldCentroid,SourceIDs,GroupInfo,SourceFlags,AperturePhotometry,FlexibleModelFitting

# Write to the catalog after this number of sources have been processed (0 means once at the end)
output-flush-size=1000

# Path to a directory that contains the plugins
#plugin-directory=

# Defines a plugin to load (without file extension). Can be used multiple times.
#plugin=

# Psf image file (FITS format).
psf-filename=../../PSFs/psf_visSC3ovs6_centered_realpixscale.norm.fits

# Generate a gaussian PSF with the given full-width half-maximum (in pixels)
#psf-fwhm=

# Generate a gaussian PSF with the given pixel sampling step size
#psf-pixel-sampling=

# Path to a fits format image to be used as weight image.
weight-image=../../FIELD4/Single_Sersic/ssersic_4_vis.rms.fits

# Is the weight map provided as absolute values or relative to background.
weight-absolute=1

# Weight image type [none|background|rms|variance|weight].
weight-type=rms

# Weight map scaling factor.
#weight-scaling=1

# Threshold for pixels to be considered bad pixels. In same units as weight map.
weight-threshold=1.0E+10

# Use object symmetry to replace pixels above the weight threshold for photometry.
weight-use-symmetry=1

# Log level: FATAL, ERROR, WARN, INFO, DEBUG
log-level=DEBUG
# Log file
log-file=ssersic_4.log
